name: "clang-format"

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - uses: DoozyX/clang-format-lint-action@v0.14
      with:
        source: '.'
        exclude: './third_party ./external'
        extensions: 'h,cpp,hpp,inl'
        clangFormatVersion: 14
        inplace: True

    - uses: EndBug/add-and-commit@v4
      with:
        default_author: github_actions
        message: 'Committing clang-format changes'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
